/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End Reset Css */



body{
	font-family: 'Open Sans';
	font-size: 15px;
	color: #000;
}

h1{
	margin-top: 20px;
	font-size: 3em;
	text-align: center;
	font-weight: bold;
}

body img{
	width: 300px;
	display: block;
	margin: 70px auto;
}

#woord {
	font-size: 2em;
	font-weight: bold;
	text-align: center;
}
#woord li {
	display: inline-block;
	padding: 3px;
}
#alfabet_knoppen{
	width: 1000px;
	margin: 0px auto;
	margin-top: 150px;
}

/*Alle buttons krijgen hieronder hun identieke plaatje*/

button#a{
	width:50px;
	height: 50px;
	background-image: url(../img/a.jpg);
	background-size: 48px;
}
button#b{
	width:50px;
	height: 50px;
	background-image: url(../img/b.jpg);
	background-size: 48px;
}
button#c{
	width:50px;
	height: 50px;
	background-image: url(../img/c.jpg);
	background-size: 48px;
}
button#d{
	width:50px;
	height: 50px;
	background-image: url(../img/d.jpg);
	background-size: 48px;
}
button#e{
	width:50px;
	height: 50px;
	background-image: url(../img/e.jpg);
	background-size: 48px;
}
button#f{
	width:50px;
	height: 50px;
	background-image: url(../img/f.jpg);
	background-size: 48px;
}
button#g{
	width:50px;
	height: 50px;
	background-image: url(../img/g.jpg);
	background-size: 48px;
}
button#h{
	width:50px;
	height: 50px;
	background-image: url(../img/h.jpg);
	background-size: 48px;
}
button#i{
	width:50px;
	height: 50px;
	background-image: url(../img/i.jpg);
	background-size: 48px;
}
button#j{
	width:50px;
	height: 50px;
	background-image: url(../img/j.jpg);
	background-size: 48px;
}
button#k{
	width:50px;
	height: 50px;
	background-image: url(../img/k.jpg);
	background-size: 48px;
}
button#l{
	width:50px;
	height: 50px;
	background-image: url(../img/l.jpg);
	background-size: 48px;
}
button#m{
	width:50px;
	height: 50px;
	background-image: url(../img/m.jpg);
	background-size: 48px;
}
button#n{
	width:50px;
	height: 50px;
	background-image: url(../img/n.jpg);
	background-size: 48px;
}
button#o{
	width:50px;
	height: 50px;
	background-image: url(../img/o.jpg);
	background-size: 48px;
}
button#p{
	width:50px;
	height: 50px;
	background-image: url(../img/p.jpg);
	background-size: 48px;
}
button#q{
	width:50px;
	height: 50px;
	background-image: url(../img/q.jpg);
	background-size: 48px;
}
button#r{
	width:50px;
	height: 50px;
	background-image: url(../img/r.jpg);
	background-size: 48px;
}
button#s{
	width:50px;
	height: 50px;
	background-image: url(../img/s.jpg);
	background-size: 48px;
}
button#t{
	width:50px;
	height: 50px;
	background-image: url(../img/t.jpg);
	background-size: 48px;
}
button#u{
	width:50px;
	height: 50px;
	background-image: url(../img/u.jpg);
	background-size: 48px;
}
button#v{
	width:50px;
	height: 50px;
	background-image: url(../img/v.jpg);
	background-size: 48px;
}
button#w{
	width:50px;
	height: 50px;
	background-image: url(../img/w.jpg);
	background-size: 48px;
}
button#x{
	width:50px;
	height: 50px;
	background-image: url(../img/x.jpg);
	background-size: 48px;
}
button#y{
	width:50px;
	height: 50px;
	background-image: url(../img/y.jpg);
	background-size: 48px;
}
button#z{
	width:50px;
	height: 50px;
	background-image: url(../img/z.jpg);
	background-size: 48px;
}


#alfabet_knoppen button{
	outline: none;
	margin: 10px;
	border-radius: 8px;
	border: none;
	background-size: cover;
}
#alfabet_knoppen button:focus{
	outline: none;
	border: none;
}

#alfabet_knoppen button.active{
	opacity: 0.3;
}